<div class="card">
    <div class="card-header">
      <h3 class="card-title">Register</h3>
      <div class="float-right">
        
      </div>
    </div>
  <div class="card-body mx-auto">

    <div class="register-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" class="h2"><b>Register</b></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Register Calon Pelamar</p>
    
          <form action="/register" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="nama" placeholder="Nama">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="username" class="form-control" name="username" placeholder="username">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <!-- <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Retype password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div> -->
            <div class="row">
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

  </div>
  </div>
  <!-- /.content -->
  